.header {
    width: 100%;
    height: 80px;
  
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: black;
    margin: 0;
    padding: 20px;
  
    z-index: 999999;
  }
  
  header img {
    margin-top: 0px;
    padding: 0;
    position: relative;
    top: -30px;
    left: 70px;
    width: 110px;
    height: 90px;
  }
  header ul {
    display: flex;
    list-style: none;
  }
  .img{
    width: 100%;
    height: 70%;
  }